<!-- Create your form here -->
<html>
<h1> Student Form </h1>
<form action="/students" method="post">
Student first name: <input type="text" name="first_name">
Student last name: <input type="text" name="last_name">
<input type="submit" value="Submit Student">
</form>
</html>

