 <h1>Student Form</h1>
 <form method= 'post' action= '/students'>
 <label for= "first_name"><h2>First Name:</h2></label>
 <input type= "text" name= "first_name">
 <label for= "last_name"><h3>Last Name:</h3></label>
 <input type= "text" name= "last_name">
 <input type= "submit" value= "Submit Student">
 </form>
