<!-- Create your form here -->
<h1>Student Form:</h1>
<form method="post" action="/students">
    <h3>First Name:</h3>
    <input type="text" name="first_name">
    <h3>Last Name:</h3>
    <input type="text" name="last_name">
    <input type="submit" value="Submit Student">
</form>
