<!-- Create your form here -->
<h1>Student Form</h1>
<form method="post" action="/students">
Student First Name : <input type="text" name="first_name">
Student Last Name : <input type="text" name="last_name">
<input type="submit" value="Submit Student" >
</form>